language: java
jdk:
  - oraclejdk8
services:
  - mysql

before_script:
  - mysql -u root -e 'create database bbuddy'
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
  
script: gradle cucumber check