<div class="panel panel-primary">
    <div class="panel-heading">{{label.title}}</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{label.name}}</th>
            <th>{{label.balanceBroughtForward}}</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
            <td class="text-left">CMB</td>
            <td class="text-left">1000</td>
        </tr>
        <tr>
            <td class="text-left">HSBC</td>
            <td class="text-left">0</td>
        </tr>
        </tbody>
    </table>
</div>
