<link href="/css/table.css" rel="stylesheet" />
<div>{{transactions.message}}</div>
<table class="table-fill" {{transactions.hidden}}>
    <thead>
    <tr>
        <th class="text-left">{{label.type}}</th>
        <th class="text-left">{{label.description}}</th>
        <th class="text-left">{{label.date}}</th>
        <th class="text-left">{{label.amount}}</th>
    </tr>
    </thead>
    {{#transactions}}
    <tbody class="table-hover">
    <tr>
        <td class="text-left">{{type}}</td>
        <td class="text-left">{{description}}</td>
        <td class="text-left">{{dateForView}}</td>
        <td class="text-left">{{amount}}</td>
    </tr>
    </tbody>
    {{/transactions}}
</table>
<hr {{transactions.hidden}}>
<table align="center" {{transactions.hidden}}>
    <tbod>
        <tr>
            <td>Total Income is {{transactions.totalIncome}}</td>
            <td>Total Outcome is {{transactions.totalOutcome}}</td>
            <td>Balance is {{transactions.balance}}</td>
        </tr>
    </tbod>
</table>
