<div class="panel panel-primary">
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">{{transactions.message}}</div>
    <table class="table table-hover" {{transactions.hidden}}>
        <thead>
        <tr>
            <th>{{label.type}}</th>
            <th>{{label.description}}</th>
            <th>{{label.date}}</th>
            <th>{{label.amount}}</th>
        </tr>
        </thead>
        {{#transactions}}
        <tbody>
        <tr>
            <td>{{type}}</td>
            <td>{{description}}</td>
            <td>{{dateForView}}</td>
            <td>{{amount}}</td>
        </tr>
        </tbody>
        {{/transactions}}
    </table>
    <div class="panel-footer" {{transactions.hidden}}>
        <div class="row">
            <div class="col-md-4">Total Income is {{transactions.totalIncome}}</div>
            <div class="col-md-4">Total Outcome is {{transactions.totalOutcome}}</div>
            <div class="col-md-4">Balance is {{transactions.balance}}</div>
        </div>
    </div>
</div>