<link href="/css/table.css" rel="stylesheet" />
<div>{{message}}</div>
<table class="table-fill" {{table.hidden}}>
    <thead>
    <tr>
        <th class="text-left">Type</th>
        <th class="text-left">Description</th>
        <th class="text-left">Date</th>
        <th class="text-left">Amount</th>
    </tr>
    </thead>
    {{#transactions}}
    <tbody class="table-hover">
    <tr>
        <td class="text-left">{{type}}</td>
        <td class="text-left">{{description}}</td>
        <td class="text-left">{{dateForView}}</td>
        <td class="text-left">{{amount}}</td>
    </tr>
    </tbody>
    {{/transactions}}
</table>
