<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Bbuddy</title>
</head>
<body>
<div th:if="${message}">
    <p th:text="${message}" />
</div>
<form th:action="@{/confirm_add_budget_for_month}" method="post">
    <div><label> Month : <input type="text" name="month"/> </label></div>
    <div><label> Budget: <input type="text" name="budget"/> </label></div>
    <div><input type="submit" value="Add"/></div>
</form>
</body>
</html>